<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <uiapress href="/" class="navbar-brand">Guiapress</a>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a clas="nav-link" href="/admin/categories">Categorias</a>
                </li>
            </ul>
    </div>

</nav>